body{
    background-image: url("SVG/download(1).png");
    background-repeat: cover;
}

.container {
  display: grid;
   max-width: 1722px;
  min-height: 1117px;
    margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  
    ". . a a a a a a a a . ."
    ". . a a a a a a a a . ."
    ". . a a a a a a a a . ."
    ". b b b b b b b b b b ."
    ". . c c . d d . e e . ."
    ". . c c . d d . e e . .";
    gap: 1.25rem;
}

/* Grid Areas */
.NameBW { 
    grid-area: a; 
    max-width: 1148px;
    }
.lineBW {
    grid-area: b;
}
.TumblrBW{
    grid-area: c;
    max-width:100px;
}
.EmailBW{
    grid-area: d;
}
.WWWBW{
    grid-area: e;
    max-width: 175px;
}
#linedetail{
    stroke-width: 3px;
}